@charset "UTF-8";

body {
	background-color: rgb(255, 255, 255);
}

h1 {
	color: #00ff00;
	text-shadow: 3px 3px 3px #e6993c;
}

body {
	text-align: center;
}

.main {
	margin: 30px;
	background-color: #00ff80;
	padding: 15px;
	font-size: 20px;
	border-radius: 10px;
}

.check {
	text-align: left;
}

#error {
	color: red;
	font-weight: bold;
}

#buttons {
	margin-top: 15px;
}

#result {
	font-size: 40px;
	font-weight: bold;
	color: red;
}